<body>
    <div class="padre">
        <div class="hijo_uno">
            <br /><br />
            <h1 *ngIf="modalSwitch == false">Registrate</h1>
            <h1 *ngIf="modalSwitch == true">Registrado</h1>
        </div>
        <br />

        <div class="hijo_uno color" *ngIf="modalSwitch == false">
            <form [formGroup]="registerUsuario" (ngSubmit)="crearUser(name.value, lastname.value, username.value)">
                <!-- Email input -->
                <span *ngIf="!validRegister" class="badge bg-danger"
        >Debe llenar todos los campos</span
      >
                <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example3">Nombre</label>
                    <input type="text" id="form3Example3" class="form-control form-control-lg" placeholder="Ingrese su nombre" formControlName="name" #name />
                </div>
                <!-- Password input -->
                <div class="form-outline mb-3">
                    <label class="form-label" for="form3Example4">Apellido</label>
                    <input type="text" id="form3Example3" class="form-control form-control-lg" placeholder="Ingrese su apellido" formControlName="lastname" #lastname />
                </div>

                <div class="form-outline mb-3">
                    <label class="form-label" for="form3Example4">Usuario</label>
                    <input type="text" id="form3Example3" class="form-control form-control-lg" placeholder="Ingrese un nombre de usuario" formControlName="username" #username />
                </div>
                <!--<div class="d-flex justify-content-between align-items-center">
                <a href="#!" class="text-body" routerLink="/olvidocontra">¿Olvido su contraseña?</a>
              </div>-->
                <div class="text-center text-lg-start mt-4 pt-2 tamaño">
                    <button style="width: 200px; color: wheat" type="submit" class="btn btn-primary">
            Registrarse
          </button>
                    <p class="small fw-bold mt-2 pt-1 mb-0">
                        ¿Ya tiene cuenta?
                        <a routerLink="/login" class="link-danger">Iniciar Sesion</a>
                    </p>
                </div>
            </form>
        </div>
        <div *ngIf="modalSwitch == true">
            <app-perfil-modal></app-perfil-modal>
        </div>
    </div>
</body>