
    .padre {
        padding: 0 1rem;
        margin: 1rem;
      }
      .tamaño{
          margin-left: 40%;
      }
      .hijo_uno {
        /* IMPORTANTE */
        width: 800px;
        margin-left: auto;
        margin-right: auto;
      }
  
  .color{
      background-color: aliceblue;
      padding: 10px;
  }